use Mix.Config

config :nostrum,
  token: "333", # The token of your bot as a string
  num_shards: 2 # The number of shards you want to run your bot under, or :auto.

# Rename this file to `config.secret.exs` and paste in your values.
